## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
import pandas as pd
import sqlite3

In [3]:
# Reconnect to the IMDB SQLite database
with sqlite3.connect('im.db') as conn:


    # Extract schema data from sqlite_master
    tables_info = conn.execute("SELECT * FROM sqlite_master").fetchall()

# Print the schema details
for table in tables_info:
    print(table)

In [4]:
# Connect to the SQLite database
with sqlite3.connect('im.db') as conn:
    movie_basics = pd.read_sql_query("SELECT * FROM movie_basics", conn)
    directors = pd.read_sql_query("SELECT * FROM directors", conn)
    known_for = pd.read_sql_query("SELECT * FROM known_for", conn)
    movie_akas = pd.read_sql_query("SELECT * FROM movie_akas", conn)
    movie_ratings = pd.read_sql_query("SELECT * FROM movie_ratings", conn)
    persons = pd.read_sql_query("SELECT * FROM persons", conn)
    principals = pd.read_sql_query("SELECT * FROM principals", conn)
    writers = pd.read_sql_query("SELECT * FROM writers", conn)

# Confirm data is loaded
print("Tables loaded successfully!")

DatabaseError: Execution failed on sql 'SELECT * FROM movie_basics': no such table: movie_basics